# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bak?
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# For MPLAB X Files
**/*.X/~*.*
**/*.X/build/
**/*.X/debug/
#**/*.X/dist/
**/*.X/disassembly/
**/*.X/.generated_files/
**/*.X/nbproject/private/
**/*.X/nbproject/*.mk
**/*.X/nbproject/*.bash
**/*.X/nbproject/Makefile-genesis.properties
**/*.X/queuelogs/

# Object files
*.o
*.o.d
*.ko
*.obj
#*.elf
